*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    position: relative;
}


.line{
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0;
    left: 50%;
    background-color: #000;
}

.pitsa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
}
.buyurtma{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
select{
    cursor: pointer;
}
